streamlit==1.60.0
starlette==0.50.0
protobuf==5.29.3
pandas==3.0.5
gspread==6.2.1
pytz==2026.3.post1
requests==2.34.2
google-genai
streamlit-autorefresh==1.0.1
fpdf==1.7.2
openpyxl==3.1.5
numpy==2.5.1
firebase-admin==7.5.0
google-cloud-firestore==2.27.0
psutil==5.9.8
